* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  color: white;
  background: #020617;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #020617;
  padding: 20px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar button {
  width: 100%;
  padding: 16px;
  margin-bottom: 14px;
  border: none;
  border-radius: 14px;
  background: #0f172a;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.sidebar button:hover {
  background: #1e293b;
}

/* MAIN */
main {
  flex: 1;
}

/* HOME WITH YOUR GIF */
#home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background:
    linear-gradient(rgba(2,6,23,0.7), rgba(2,6,23,0.7)),
    url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExdmFmOHUzcm9ydnE0ajQwano4ZTF0Y29vdzY3bWZnZGk1Ym5yeXYxeiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/sXOQD2MmZyYc9gGtlI/giphy.gif");

  background-size: cover;
  background-position: center;
}

#home h1 {
  font-size: 48px;
}

/* GAMES */
#games {
  display: none;
  height: 100%;
  padding: 30px;
  background: #020617;
}

#games button {
  padding: 14px 20px;
  border-radius: 12px;
  border: none;
  background: #1e293b;
  color: white;
  cursor: pointer;
  margin-bottom: 16px;
}

iframe {
  width: 100%;
  height: 70vh;
  border: none;
  background: black;
}
